# Archivos del sistema
.DS_Store
Thumbs.db

# IntelliJ IDEA (Ignorar en cualquier subcarpeta)
**/.idea/
**/*.iml
out/

# VS Code
**/.vscode/
!**/.vscode/settings.json

# Java / Kotlin (Ignorar compilados en cualquier subcarpeta)
**/bin/
**/build/
**/target/
**/*.class
**/*.jar

# Python
**/__pycache__/
**/*.pyc
**/.venv/
**/env/

# Angular / Web
**/node_modules/
**/dist/
**/.angular/
