<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sam Altman y Dario Amodeis no son tus amigos.</title>
  <link rel="stylesheet" href="/styles/styles-light.css">
</head>

<body>
  <header>
    <a href="#start">
      <h1>🧠 Brain.Dot</h1>
    </a>
    <input type="text" placeholder="Búsqueda">
    <div id="theme-icon">Light Mode 🌞</div>
  </header>


  <main>
    <div class="article__header">
      <h2>RALPH</h2>
      <br />
      <p>date</p>
    </div>

    <div class="article__text">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime,
        velit. Accusamus quam illo, libero repellendus eaque, sequi minus hic
        est in natus excepturi ducimus voluptatibus porro soluta veritatis et!
        Quo?
      </p>
    </div>

    <div class="article_resource">
      <video src=""></video>
    </div>

    <div class="article_text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        molestias nobis officia sunt quae eligendi quaerat, quidem modi
        dolorem ipsum voluptatum, repudiandae optio facere labore pariatur
        deserunt dolor ipsam ipsa!
      </p>
    </div>
  </main>

  <footer>
    <p>&copy; STEMDO | Diseñado por Daniel Muñoz Sigmund</p>
  </footer>
</body>

</html>