<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Brain.Dot</title>
  <link rel="stylesheet" href="/styles/styles-light.css">
</head>

<body>
  <header>
    <a href="#start">
      <h1>🧠 Brain.Dot</h1>
    </a>
    <input type="text" placeholder="Búsqueda">
    <div id="theme-icon">
      Light Mode 🌞
    </div>
  </header>

  <main>
    <div class="homepage__welcome">
      <h3>Bienvenidos</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora accusamus, ipsum hic amet atque perspiciatis
        tenetur tempore cupiditate nulla quia iusto ea, ducimus quod voluptatem maiores qui at obcaecati et.
      </p>
    </div>

    <div class="card__container">
      <article>
        <div class="card__content">
          <h3>La IA está volviendo loco a los CEOs</h3>
          <a href=".\articles\article_1.html">
            <img src="" alt="Miniatura del youtuber Mo Bitar." />
          </a>
        </div>
      </article>

      <article>
        <div class="card__content">
          <h3>Recursos gratuitos para los programadores.</h3>
          <a href=".\articles\article_2.html">
            <img src="" alt="Captura de pantalla con diferentes programas." />
          </a>
        </div>
      </article>

      <article>
        <div class="card__content">
          <h3>LMStudio: la plataforma gratuita y libre para IA local.</h3>
          <a href=".\articles\article_3.html">
            <img src="" alt="Logo de LMStudio." />
          </a>
        </div>
      </article>

      <article>
        <div class="card__content">
          <h3>Sam Altman y Dario Amodei no son tus amigos.</h3>
          <a href=".\articles\article_4.html">
            <img src="" alt="Imagen de Sam Altman y Dario Amodei." />
          </a>
        </div>
      </article>
    </div>

    <aside class="advertisement">
      <img src="" alt="" />
    </aside>
  </main>

  <footer>
    <p>&copy; STEMDO | Diseñado por Daniel Muñoz Sigmund</p>
  </footer>
</body>

</html>